[Unit]
Description= Timer for mailing SOP report every friday

[Timer]
OnCalendar=Fri 16:00:00
Unit=ansible_send_mail.service

[Install]
WantedBy=multi-user.target